{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">Trouve dans ta ville</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <form method="post" class="border rounded p-4">
            <div class="form-group">
                <label for="ville">Indiquez le nom d'une ville (obligatoire) :</label>
                <input type="text" class="form-control" name="ville" list="villes" required/>
                <datalist id="villes">
                    <select name="villes">
                        {% for commune in communesForList %}
                            {%  if commune.codesPostaux is not empty %}
                                <option value="{{ commune.nom  }}">{{ commune.nom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </datalist>
            </div>


            <label for="codePostal">Indiquez un code postal (obligatoire) :</label>
            <input type="number" class="form-control" name="codePostal" minlength="5" maxlength="5" list="codePostals" required>
            <datalist id="codePostals">
                <select name="codePostals">
                    {% for codePostal in codePostalList %}
                        {% if codePostal is not empty %}
                            <option value="{{ codePostal  }}">{{ codePostal}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </datalist>

            <input type="submit" class="btn btn-success mt-3" value="Rechercher">
        </form>

        <hr>

        {% if commune is not empty %}
            {% if ettablissements is not empty %}
                <h2>Ci-dessous la liste des établissements trouvé</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Site internet</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for etablissement in ettablissements %}
                        <tr>
                            <td>{{ etablissement.properties.nom }}</td>
                            <td>{{ etablissement.properties.adresses[0].lignes[0] }}</td>
                            <td>{{ etablissement.properties.telephone }}</td>
                            <td><a href="{{ etablissement.properties.url ?? ''}}" target="_blank">Cliquez-ici</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning">Aucun etablissement trouvé dans cette commune</div>
            {% endif %}
        {% endif %}
    </div>



{% endblock %}
